@model Oyun

<h1>Oyun Güncelle</h1>

<form asp-controller="Oyun" asp-action="Guncelle" method="post">
    <div class="form-grop">
        <label class="form-label" asp-for="Ad">Oyun Adı</label>
        <input class="form-control" asp-for="Ad" />
    </div>
    <div class="form-grop">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="TekPlatform" />
            <label class="form-check-label" asp-for="TekPlatform">Tek Platformda Mi?</label>
        </div>
    </div>

    <button class="btn btn-success">Güncelle</button>
</form>
